[env]
MULTIPOST_MISE_ACTIVE = 'true'

[settings]
env_file = '.env'

[tools]
bun = { version = '1.3.7' }
claude = { version = '2.1.22' }
codex = { version = '0.92.0' }
gemini = { version = '0.26.0' }
node = { version = '24.13.0' }
ruby = { version = '4.0.1' }

[tasks]
'db:reset' = { run = [
  'bundle exec rails db:drop',
  'bundle exec rails db:create',
  'bundle exec rails db:migrate',
  'bundle exec rails db:seed',
] }
'dev' = { env = { 'RAILS_ENV' = 'development', 'RUBY_DEBUG_OPEN' = 'true' }, run = 'foreman start -f Procfile.tailscale' }
'dev:localhost' = { env = { 'RAILS_ENV' = 'development', 'RUBY_DEBUG_OPEN' = 'true' }, run = 'foreman start -f Procfile.localhost' }
prepare-ci = 'gem install bundler; bundle install; bundle binstubs --all; bun install'
'ci:brakeman' = { run = 'bundle exec brakeman --no-pager' }
'ci:rubocop' = { run = 'bundle exec rubocop -f github' }
'ci:test' = { env = { RAILS_ENV = 'test' }, run = 'bundle exec rails db:test:prepare test test:system' }
ci = { depends = 'ci:*' }
